<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title><!DOCTYPE html>
        <html lang="en">
        <head>
        <meta charset="UTF-8">
        <title>This is the home screen page</title>


</head>
<body>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script src="commonFun.js"></script>

<h2>
    <pre>      OpenHVACControl - System Overview</pre>
    <hr>
</h2>
<div>
    <div><pre>
        <h3>        Zone 1  :  <textarea id="#ZONE1ALIAS"></textarea>   Mode:   <textarea id="#ZONE1MODE"></textarea>    Select Mode: <button
                onClick="setMode(1, 'HEAT');">HEAT</button> <button onClick="setMode(1, 'COOL');">COOL</button> <button
                onClick="setMode(1, 'OFF');">OFF </button>
        Temp 1  :  <textarea id="#ZONE1TEMP1"></textarea>   Temp 2: <textarea id="#ZONE1TEMP2"></textarea>    Using temp:  <textarea
                    id="#ZONE1USINGTEMP"></textarea>
        Setpoint:  <textarea id="#ZONE1SETPOINT"></textarea>   <button onClick="increaseSP(1);">&nbsp;Up&nbsp;</button> <button
                    onClick="decreaseSP(1);">Down</button>                      Fan       :  <textarea
                    id="#ZONE1FAN"></textarea> <button onClick="toggleFanOnAuto(1);">&nbsp;Auto/On</button>
        </h3></pre>
    </div>
    <hr>

    <div>
        <pre>
        <h3>        Zone 2  :  <textarea id="#ZONE2ALIAS"></textarea>   Mode:   <textarea id="#ZONE2MODE"></textarea>    Select Mode: <button
                onClick="setMode(2, 'HEAT');">HEAT</button> <button onClick="setMode(2, 'COOL');">COOL</button> <button
                onClick="setMode(2, 'OFF');">OFF </button>
        Temp 1  :  <textarea id="#ZONE2TEMP1"></textarea>   Temp 2: <textarea id="#ZONE2TEMP2"></textarea>    Using temp:  <textarea
                    id="#ZONE2USINGTEMP"></textarea>
        Setpoint:  <textarea id="#ZONE2SETPOINT"></textarea>   <button onClick="increaseSP(2);">&nbsp;Up&nbsp;</button> <button
                    onClick="decreaseSP(2);">Down</button>                      Fan       :  <textarea
                    id="#ZONE2FAN"></textarea> <button onClick="toggleFanOnAuto(2);">&nbsp;Auto/On</button>
        </h3></pre>
    </div>
    <hr>

    <div>
        <pre>
        <h3>        Zone 3  :  <textarea id="#ZONE3ALIAS"></textarea>   Mode:   <textarea id="#ZONE3MODE"></textarea>   Select Mode: <button
                onClick="setMode(3, 'HEAT');">HEAT</button> <button onClick="setMode(3, 'COOL');">COOL</button> <button
                onClick="setMode(3, 'OFF');">OFF </button>
        Temp 1  :  <textarea id="#ZONE3TEMP1"></textarea>   Temp 2: <textarea id="#ZONE3TEMP2"></textarea>   Using temp:  <textarea
                    id="#ZONE3USINGTEMP"></textarea>
        Setpoint:  <textarea id="#ZONE3SETPOINT"></textarea>   <button onClick="increaseSP(3);">&nbsp;Up&nbsp;</button> <button
                    onClick="decreaseSP(3);">Down</button>                     Fan       :  <textarea
                    id="#ZONE3FAN"></textarea> <button onClick="toggleFanOnAuto(3);">&nbsp;Auto/On</button>
        </h3></pre>
    </div>
    <hr>

    <div>
        <pre>
        <h3>
        System Outputs:

        HEATING:  stage 1: <textarea id="#W1_OUTPUT"></textarea>  stage 2: <textarea id="#W2_OUTPUT"></textarea>
        <br>
        COOLING:  stage 1: <textarea id="#Y1_OUTPUT"></textarea>  stage 2: <textarea id="#Y2_OUTPUT"></textarea>
        <br>
        FAN    :           <textarea id="#G_OUTPUT"></textarea>
        <br>
        DAMPERS:   zone 1: <textarea id="#DAMPERZ1_OUTPUT"></textarea>   zone 2: <textarea
                id="#DAMPERZ2_OUTPUT"></textarea>   zone 3: <textarea id="#DAMPERZ3_OUTPUT"></textarea>
        </h3>
        </pre>
    </div>
    <hr>
    <pre>         <input type="button" onclick="location.href='settings';" value="Settings"/><input type="button"
                                                                                                    onclick="location.href='/';"
                                                                                                    value="Home"/> <input
            type="button" onclick="location.href='/zone1';" value="Zone 1"/> <input type="button"
                                                                                    onclick="location.href='/zone2';"
                                                                                    value="Zone 2"/> <input
            type="button" onclick="location.href='/zone3';" value="Zone 3"/></pre>
    <hr>
    <br>

    <br>
    <div>
        <br>
        Enter new name for task1
        <br>
        <input type="text" id="TASK1NEW_NAME"/>
        <br>
        <button onClick="submitTask1Name();">Submit</button>
    </div>


    <!--Why this not do anything?-->
    <button class="ui blue button" id="sensorSetupNavButton" style="display: none;"
            onclick="location.href='/sensorSetup'">Setup up Sensors
    </button>

</div>

<script type="text/javascript">

    var update_loop = setInterval(Update, 2000);

    function Update(){
        getAliases();
        getTemps();
        getSetpoints();
        getOutputs();
        getModes();
        getFanSettings();
    }




</script>
</body>
</html>

</title>
</head>
<body>

</body>
</html>
