<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title><!DOCTYPE html>
        <html lang="en">
        <head>
        <meta charset="UTF-8">
        <title>This is the home screen page</title>


</head>
<body>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script src="commonFun.js"></script>

<h2>
    <pre>      OpenHVACControl - System Overview</pre>
    <hr>
</h2>
<div>
    <div><pre>
        <h3>        Zone 1  :  <textarea id="#ZONE1ALIAS" style="font-size:12pt; height:25px; width:150px;"></textarea>   Mode:   <textarea
                id="#ZONE1MODE" style="font-size:12pt; height:25px; width:150px;"></textarea>    Select Mode: <button
                onClick="setMode(1, 'HEAT');" style="font-size:12pt; height:25px; width:100px;">HEAT</button> <button
                onClick="setMode(1, 'COOL');" style="font-size:12pt; height:25px; width:100px;">COOL</button> <button
                onClick="setMode(1, 'OFF');" style="font-size:12pt; height:25px; width:100px;">OFF </button>
        Temp 1  :  <textarea id="#ZONE1TEMP1"
                             style="font-size:12pt; height:25px; width:150px;"></textarea>   Temp 2: <textarea
                    id="#ZONE1TEMP2"
                    style="font-size:12pt; height:25px; width:150px;"></textarea>    Using temp:  <textarea
                    id="#ZONE1USINGTEMP" style="font-size:12pt; height:25px; width:50px;"></textarea>
        Setpoint:  <textarea id="#ZONE1SETPOINT" style="font-size:12pt; height:25px; width:150px;"></textarea>   <button
                    onClick="increaseSP(1);" style="font-size:12pt; height:25px; width:100px;">&nbsp;Up&nbsp;</button> <button
                    onClick="decreaseSP(1);" style="font-size:12pt; height:25px; width:100px;">Down</button>      Fan       :  <textarea
                    id="#ZONE1FAN" style="font-size:12pt; height:25px; width:90px"></textarea> <button
                    onClick="toggleFanOnAuto(1);"
                    style="font-size:12pt; height:25px; width:100px;">&nbsp;Auto/On</button>
        </h3></pre>
    </div>
    <hr>

    <div>
        <pre>
        <h3>        Zone 2  :  <textarea id="#ZONE2ALIAS" style="font-size:12pt; height:25px; width:150px;"></textarea>   Mode:   <textarea
                id="#ZONE2MODE" style="font-size:12pt; height:25px; width:150px;"></textarea>    Select Mode: <button
                onClick="setMode(2, 'HEAT');" style="font-size:12pt; height:25px; width:100px;">HEAT</button> <button
                onClick="setMode(2, 'COOL');" style="font-size:12pt; height:25px; width:100px;">COOL</button> <button
                onClick="setMode(2, 'OFF');" style="font-size:12pt; height:25px; width:100px;">OFF </button>
        Temp 1  :  <textarea id="#ZONE2TEMP1"
                             style="font-size:12pt; height:25px; width:150px;"></textarea>   Temp 2: <textarea
                    id="#ZONE2TEMP2"
                    style="font-size:12pt; height:25px; width:150px;"></textarea>    Using temp:  <textarea
                    id="#ZONE2USINGTEMP" style="font-size:12pt; height:25px; width:50px;"></textarea>
        Setpoint:  <textarea id="#ZONE2SETPOINT" style="font-size:12pt; height:25px; width:150px;"></textarea>   <button
                    onClick="increaseSP(2);" style="font-size:12pt; height:25px; width:100px;">&nbsp;Up&nbsp;</button> <button
                    onClick="decreaseSP(2);" style="font-size:12pt; height:25px; width:100px;">Down</button>      Fan       :  <textarea
                    id="#ZONE2FAN" style="font-size:12pt; height:25px; width:90px"></textarea> <button
                    onClick="toggleFanOnAuto(2);"
                    style="font-size:12pt; height:25px; width:100px;">&nbsp;Auto/On</button>
        </h3></pre>
    </div>
    <hr>

    <div>
        <pre>
        <h3>        Zone 3  :  <textarea id="#ZONE3ALIAS" style="font-size:12pt; height:25px; width:150px;"></textarea>   Mode:   <textarea
                id="#ZONE3MODE" style="font-size:12pt; height:25px; width:150px;"></textarea>   Select Mode: <button
                onClick="setMode(3, 'HEAT');" style="font-size:12pt; height:25px; width:100px;">HEAT</button> <button
                onClick="setMode(3, 'COOL');" style="font-size:12pt; height:25px; width:100px;">COOL</button> <button
                onClick="setMode(3, 'OFF');" style="font-size:12pt; height:25px; width:100px;">OFF </button>
        Temp 1  :  <textarea id="#ZONE3TEMP1"
                             style="font-size:12pt; height:25px; width:150px;"></textarea>   Temp 2: <textarea
                    id="#ZONE3TEMP2"
                    style="font-size:12pt; height:25px; width:150px;"></textarea>   Using temp:  <textarea
                    id="#ZONE3USINGTEMP" style="font-size:12pt; height:25px; width:50px;"></textarea>
        Setpoint:  <textarea id="#ZONE3SETPOINT" style="font-size:12pt; height:25px; width:150px;"></textarea>   <button
                    onClick="increaseSP(3);" style="font-size:12pt; height:25px; width:100px;">&nbsp;Up&nbsp;</button> <button
                    onClick="decreaseSP(3);" style="font-size:12pt; height:25px; width:100px;">Down</button>     Fan       :  <textarea
                    id="#ZONE3FAN" style="font-size:12pt; height:25px; width:90px"></textarea> <button
                    onClick="toggleFanOnAuto(3);"
                    style="font-size:12pt; height:25px; width:100px;">&nbsp;Auto/On</button>
        </h3></pre>
    </div>
    <hr>

    <div>
        <pre>
        <h3>
        System Outputs:

        HEATING:  stage 1: <textarea id="#W1_OUTPUT" style="font-size:12pt; height:25px; width:150px;"></textarea>  stage 2: <textarea
                id="#W2_OUTPUT" style="font-size:12pt; height:25px; width:150px;"></textarea>
        <br>
        COOLING:  stage 1: <textarea id="#Y1_OUTPUT" style="font-size:12pt; height:25px; width:150px;"></textarea>  stage 2: <textarea
                id="#Y2_OUTPUT" style="font-size:12pt; height:25px; width:150px;"></textarea>
        <br>
        FAN    :           <textarea id="#G_OUTPUT" style="font-size:12pt; height:25px; width:150px;"></textarea>
        <br>
        DAMPERS:   zone 1: <textarea id="#DAMPERZ1_OUTPUT" style="font-size:12pt; height:25px; width:100px"></textarea>   zone 2: <textarea
                id="#DAMPERZ2_OUTPUT" style="font-size:12pt; height:25px; width:100px"></textarea>   zone 3: <textarea
                id="#DAMPERZ3_OUTPUT" style="font-size:12pt; height:25px; width:100px"></textarea>
        </h3>
        </pre>
    </div>
    <hr>
    <pre>         <input type="button" onclick="location.href='settings';" value="Settings"
                         style="font-size:12pt; height:25px; width:100px;"/> <input type="button"
                                                                                    onclick="location.href='/';"
                                                                                    value="Home"
                                                                                    style="font-size:12pt; height:25px; width:100px;"/> <input
            type="button" onclick="location.href='/zone1';" value="Zone 1"
            style="font-size:12pt; height:25px; width:100px;"/> <input type="button"
                                                                       onclick="location.href='/zone2';"
                                                                       value="Zone 2"
                                                                       style="font-size:12pt; height:25px; width:100px;"/> <input
            type="button" onclick="location.href='/zone3';" value="Zone 3"
            style="font-size:12pt; height:25px; width:100px;"/></pre>
    <hr>
    <br>

    <br>
    <div>
        <br>
        Enter new name for task1
        <br>
        <input type="text" id="TASK1NEW_NAME"/>
        <br>
        <button onClick="submitTask1Name();">Submit</button>
    </div>


    <!--Why this not do anything?-->
    <button class="ui blue button" id="sensorSetupNavButton" style="display: none;"
            onclick="location.href='/sensorSetup'">Setup up Sensors
    </button>

</div>

<script type="text/javascript">

    $( document ).ready(function() {
        Update();
    });

    var update_loop = setInterval(Update, 2000);

    function Update(){
        getAliases();
        getTemps();
        getSetpoints();
        getOutputs();
        getModes();
        getFanSettings();
    }







</script>
</body>
</html>

</title>
</head>
<body>

</body>
</html>
