<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Zone 1</title>
</head>
<body>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script src="commonZoneFun.js"></script>

<h2>
    <pre>      OpenHVACControl - Zone 2</pre>
    <hr>
</h2>

<div>
    <h3>
        Zone 2 &nbsp&nbsp: <textarea id="#ZONEALIAS" style="font-size:12pt; height:25px; width:150px;"></textarea>
        &nbspSelect:
        <br>
        Mode &nbsp&nbsp&nbsp&nbsp: <textarea id="#ZONEMODE" style="font-size:12pt; height:25px; width:150px;"></textarea>&nbsp
        <button onClick="setMode(2, 'HEAT');" style="font-size:12pt; height:25px; width:100px;">HEAT</button>
        <button onClick="setMode(2, 'COOL');" style="font-size:12pt; height:25px; width:100px;">COOL</button>
        <button onClick="setMode(2, 'OFF');" style="font-size:12pt; height:25px; width:100px;">OFF</button>
        <br>
        Temp &nbsp&nbsp&nbsp&nbsp&nbsp: <textarea id="#ZONEUSINGTEMP" style="font-size:12pt; height:25px; width:150px;"></textarea>
        <br>
        Setpoint : <textarea id="#ZONESETPOINT" style="font-size:12pt; height:25px; width:150px;"></textarea>
        <button onClick="increaseSP(2);" style="font-size:12pt; height:25px; width:100px;">&nbsp;Up&nbsp;</button>
        <button onClick="decreaseSP(2);" style="font-size:12pt; height:25px; width:100px;">Down</button>
        <br>
        Fan &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp: <textarea id="#ZONEFAN" style="font-size:12pt; height:25px; width:150px;"></textarea>
        <button onClick="toggleFanOnAuto(2);" style="font-size:12pt; height:25px; width:100px;">&nbsp;Auto/On</button>
        <br>
        &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp <textarea id="#OCCUPANCY" style="font-size:12pt; height:25px; width:150px;"></textarea>
        <button onClick="setOccupancy(2, true);" style="font-size:12pt; height:25px; width:150px;">&nbsp;OCCUPIED</button>
        <button onClick="setOccupancy(2, false);" style="font-size:12pt; height:25px; width:150px;">&nbsp;UNOCCUPIED</button>
    </h3>
</div>

<hr>
<input type="button" onclick="location.href='/';" value="Home" style="font-size:12pt; height:25px; width:100px;"/>&nbsp
<input type="button" onclick="location.href='/zone1';" value="Zone 1" style="font-size:12pt; height:25px; width:100px;"/>&nbsp
<input type="button" onclick="location.href='/zone2';" value="Zone 2" style="font-size:12pt; height:25px; width:100px;"/>&nbsp
<input type="button" onclick="location.href='/zone3';" value="Zone 3" style="font-size:12pt; height:25px; width:100px;"/>
<hr>

<script type="text/javascript">
    $( document ).ready(function() {
        getSettings(2);
    });

    var update_loop = setInterval(getSettings(2), 2000);

</script>

</body>
</html>